@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&family=Poppins:wght@400;600;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1em;
}

body {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  background: #f8f9f9;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #d44949;
  line-height: 1em;
  letter-spacing: 2px;
  background-color: rgb(238, 53, 68);
  background-blend-mode: multiply;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #565656;
}

h3 {
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #d44949;
  margin-bottom: 0;
  margin-top: 2em;
  line-height: 0;
}

.main-title h2 {
  color: white;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0 8px;
}

a {
  text-decoration: none;
  color: #272a31;
  font-weight: bold;
  letter-spacing: 1px;
}

.container {
  max-width: 900px;
  padding: 0.7em 1.2em 0.7em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* headline styles */

.header-container {
  background: #f8f9f9 url(./Images/aboutbck.svg);
}

.headline-paragraph-description {
  padding: 1.2em;
  font-size: 14px;
  background: #f8f9f9;
  border: white 5px solid;
}

.headline-date {
  margin-bottom: 0;
}

.headline-paragraph-location {
  margin-top: 0;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-close-nav {
  background: none;
}

.btn-close-nav > img {
  width: 3em;
}

.menu-btn > img {
  width: 2.5em;
}

.header-nav-mobile {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: gray;
  color: #3a4a42;
  opacity: 0.95;
  text-align: center;
}

.menu-btn,
.header-nav-mobile > button {
  background: none;
}

.header-nav-mobile > button {
  margin: 0.5em 0.5em;
  align-self: flex-end;
  cursor: pointer;
}

.header-nav-mobile > img {
  width: 2em;
}

.header-nav-mobile > ul > li {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.header-nav-mobile > ul > li > a {
  font-size: 1em;
  font-weight: 600;
  color: #d44949;
  cursor: pointer;
}

.menu-btn.hidden {
  display: none;
}

.header-nav-mobile.hidden {
  display: none;
}

.header-nav {
  display: none;
}

@media (min-width: 768px) {
  .header-nav-phone {
    display: none;
  }

  h1 {
    font-size: 60px;
    max-width: 670px;
  }

  h3 {
    font-size: 40px;
  }

  .headline-paragraph-description {
    max-width: 550px;
  }

  .headline-paragraph-location {
    margin-bottom: 6em;
  }

  .header-nav {
    display: block;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.3);
  }

  .header-nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .header-nav-desktop > li > a {
    font-weight: normal;
    padding: 0.5em;
    margin: 0;
    color: gray;
  }

  .header-nav-desktop > li > a:hover {
    color: #d44949;
    border: 4px solid #d44949;
    cursor: pointer;
  }

  .container-top-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 3em;
    background: #272a31;
    color: white;
  }

  .header-top-nav {
    display: flex;
    justify-content: flex-end;
    width: 900px;
  }

  .header-top-nav-desktop {
    display: flex;
  }

  .header-top-nav .header-top-nav-desktop > li > a {
    font-weight: normal;
    letter-spacing: normal;
    color: white;
  }

  .hidden {
    display: flex;
  }

  nav {
    background: white;
  }

  .container-nav {
    max-width: 900px;
    padding: 0.7em 1.2em 0.7em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-nav {
    overflow: hidden;
    box-sizing: border-box;
    width: 15%;
  }

  .logo-nav img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
}

/* Main */

main {
  background: #272a31;
  color: #d3d3d3;
  display: flex;
  align-items: center;
}

.main-title {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.main-title::after {
  content: '';
  display: block;
  position: relative;
  margin: 0 auto;
  bottom: 10px;
  width: 2.3em;
  height: 1px;
  background: #d44949;
}

.main-cards {
  display: flex;
  flex-direction: column;
}

.main-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454850;
  opacity: 0.8;
  padding: 1em 0.5em;
  margin-bottom: 1em;
}

.main-card-img {
  font-size: 2em;
}

.main-card-title {
  width: 30%;
  font-size: 1.35em;
  font-weight: 900;
  color: #d44949;
}

.main-card-description {
  width: 50%;
  font-size: 0.8em;
}

.main-btn {
  padding: 2em 2em;
  margin: 2em;
  background: #d44949;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-cards {
    display: flex;
    flex-direction: row;
  }

  .main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0.1em;
    padding-left: 0.6em;
    padding-right: 0.6em;
  }

  .main-card-img {
    font-size: 1.8em;
  }

  .main-card-title {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .main-card-title p {
    margin: 0.1em;
    font-size: 0.8em;
  }

  .main-card-description {
    width: 100%;
    font-size: 0.7em;
    text-align: center;
    font-weight: bold;
  }

  .main-card-description p {
    margin: 0.2em;
  }

  .main-btn {
    display: none;
  }

  .main-link-btn {
    display: block;
    color: white;
    font-weight: normal;
    font-size: 0.6em;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 5em;
  }
}

footer {
  display: none;
}

.speaker-title {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.speaker-title::after {
  content: '';
  display: block;
  position: relative;
  margin: 0 auto;
  bottom: 10px;
  width: 1.5em;
  height: 1px;
  background: #d44949;
}

.speaker-card {
  display: flex;
  align-items: center;
}

.speaker-card-img {
  overflow: hidden;
  box-sizing: border-box;
  width: 30%;
}

.speaker-card-img img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.speaker-card-content {
  width: 70%;
  margin-left: 1.3em;
}

.speaker-card-name p {
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.speaker-card-position p {
  color: #d44949;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.speaker-card-description {
  font-size: 0.7em;
}

.Feature_speaker_button {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-top: 2em;
  border: 3px var(--secondary-color) solid;
  color: #272a31;
  font-weight: bold;
  font-size: 1.1em;
}

.Feature_speaker_button .fas {
  color: #ec4542;
}

@media (min-width: 768px) {
  .speaker-title {
    margin-bottom: 2em;
  }

  .speaker-container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3em;
  }

  .speaker-card {
    width: 48%;
  }

  .speaker-card-img {
    width: 40%;
  }

  .speaker-card-img img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .speaker-card-content {
    width: 60%;
    margin-left: 1.3em;
  }

  .speaker-card-name p {
    font-size: 1em;
  }

  .speaker-card-position p {
    font-size: 0.6em;
    color: #c50b08;
    font-weight: 900;
  }

  .speaker-card-description {
    font-size: 0.6em;
  }

  .Feature_speaker_button {
    display: none;
  }

  footer {
    display: inline;
  }

  .partners {
    background: #272a31;
    color: #d3d3d3;
    padding: 1em;
  }

  .partner-title p {
    font-weight: 600;
    font-size: 1.5em;
    align-self: center;
    text-align: center;
    margin-top: 1em;
  }

  .partner-title::after {
    content: '';
    display: block;
    position: relative;
    margin: 0 auto;
    bottom: 0;
    width: 2.5em;
    height: 1px;
    background: #d44949;
  }

  .partner-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .partner-group > p {
    font-size: 2em;
    margin: 1em 0.3em;
  }

  .Rights {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3em;
  }

  .footer-logo {
    display: flex;
    align-items: center;
    font-size: 1em;
    width: 50%;
  }

  .footer-logo p {
    font-size: 2em;
    font-weight: 900;
    line-height: 0.7em;
    margin-left: 4px;
    max-width: 250px;
  }

  .footer-logo .far {
    font-size: 3em;
  }

  .footer-paragraph {
    font-size: 1em;
    line-height: 1.5em;
  }
}
